<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Edição de Arquivo</div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" name="form" method="POST" ng-submit="save()">

                        <div class="form-group" ng-class="{'has-error': !form.name.$valid && form.name.$touched}">
                            <label class="col-md-4 control-label">Nome</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="name" ng-model="file.name" required>
                                <div class="help-block" ng-messages="form.name.$error" ng-show="form.name.$touched">
                                    <div ng-message="required">Campo obrigatório!</div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group" ng-class="{'has-error': !form.description.$valid && form.description.$touched}">
                            <label class="col-md-4 control-label">Descrição</label>
                            <div class="col-md-6">
                                <textarea class="form-control" name="description" ng-model="file.description" required></textarea>
                                <div class="help-block" ng-messages="form.description.$error" ng-show="form.description.$touched">
                                    <div ng-message="required">Campo obrigatório!</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Download</label>
                            <div class="col-md-6">
                                <project-file-download project-id="{{ file.project_id }}" file-id="{{ file.id }}"></project-file-download>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="submit" class="btn btn-primary">Salvar</button>
                                <a ng-href="#/project/{{ file.project_id }}/files" class="btn btn-success">Cancelar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
