<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Exclusão de Tarefa</div>
                <div class="panel-body">
                    <h3>Projeto: {{ project.name }}</h3>
                    <h4>Tarefa: {{ task.name }}</h4>
                    <p>Realmente deseja excluir esta Tarefa?</p>
                    <a href="" ng-click="remove()" class="btn btn-danger">Excluir</a>
                    <a ng-href="#/project/{{ project.id }}/tasks" class="btn btn-success">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
</div>
