<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Exclusão de Clientes</div>
                <div class="panel-body">
                    <h3>{{ client.name }}</h3>
                    <p>Realmente deseja excluir este cliente?</p>
                    <a href="" ng-click="remove()" class="btn btn-danger">Excluir</a>
                    <a ng-href="#/clients" class="btn btn-success">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
</div>
