<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Projeto: {{ project.name }}</div>
                <div class="panel-body">
                    <p><strong>Cliente: {{ project.client.data.name }}</strong></p>
                    <p>{{ project.description }}</p>
                    <p>Previsão: {{ project.due_date | dateBr }}</p>
                    <p>Progresso: {{ project.progress }}%</p>
                    <project-status value="{{ project.status }}"></project-status>
                    <hr/>
                    <form class="form-inline" role="form" name="form" method="POST" ng-submit="save()">
                        <div class="form-group" ng-class="{'has-error': !form.member.$valid && form.member.$touched}">
                            <label class="col-md-4 control-label">Novo Membro</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="member" ng-model="member"
                                       typeahead="user as user.name for user in getUsers($viewValue)|limitTo:10"
                                       typeahead-input-formatter="formatName($model)"
                                       typeahead-on-select="selectMember($item)"
                                       typeahead-editable="false"
                                       typeahead-loading="loadingLocations" typeahead-no-results="noResults"
                                       required />
                                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                <div ng-show="noResults">
                                    <i class="glyphicon glyphicons-erase"></i> No Results Found
                                </div>
                                <div class="help-block" ng-messages="form.member.$error" ng-show="form.member.$touched">
                                    <div ng-message="required">Campo obrigatório!</div>
                                    <div ng-message="editable">Membro inválido!</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="submit" class="btn btn-primary">Salvar</button>                                
                            </div>
                        </div>

                    </form>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Membro</th>
                                <th>Email</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="member in project.members.data">
                                <td>{{ member.name }}</td>
                                <td>{{ member.email | lowercase }}</td>
                                <td><a ng-href="" ng-click="remove(member)" class="btn btn-danger btn-xs">Excluir</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        <a ng-href="#/project/{{ project.id }}/tasks" class="btn btn-warning btn-xs">Tarefas ({{ project.tasks_count }})</a>
                        <a ng-href="#/project/{{ project.id }}/notes" class="btn btn-warning btn-xs">Notas</a>
                        <a ng-href="#/project/{{ project.id }}/files" class="btn btn-warning btn-xs">Arquivos</a>
                        <a ng-href="#/projects/{{ project.id }}/edit" class="btn btn-primary btn-xs">Editar</a>
                        <a ng-href="#/projects/{{ project.id }}/remove" class="btn btn-danger btn-xs">Excluir</a>
                        <a ng-href="#/projects" class="btn btn-success btn-xs">Voltar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
